<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

</head>
<body>
    <h1>Diagnostics</h1>
    <div id="diagnostics"></div>
    

    <script type="text/javascript" charset="utf-8">
        const socket = io();
        const headersString = "altitude,body_x_axis,body_y_axis,body_z_axis,fix,horizontal_dilution,latitude,longitude,num_sats,spd_over_grnd,timestamps,vehicle_accel_x,vehicle_accel_y,vehicle_accel_z,vehicle_gyro_x,vehicle_gyro_y,vehicle_gyro_z,vehicle_mag_x,vehicle_mag_y,vehicle_mag_z,vehicle_orientation_x,vehicle_orientation_y,vehicle_orientation_z,wheel_x_axis,wheel_y_axis,wheel_z_axis"
        const headers = headersString.split(",")
        diagnostics = document.getElementById("diagnostics")
        for (const header of headers){
            const newRow = document.createElement("p")
            newRow.innerHTML = `${header}: <span id=${header}></span>`
            diagnostics.appendChild(newRow)
        }
        


        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        socket.on("new", function(data){
            const res = data.split(",")
            console.log(data)
            for (let i = 0; i < res.length; i++){
                let value = document.getElementById(headers[i])
                value.innerHTML = res[i]
            }
        })
    });
    </script>
</body>
</html>